<header-bar title="Venue Details"></header-bar>

<ion-content padding>

  <form (ngSubmit)="saveFeature()" #featureForm="ngForm">
    <ion-card *ngIf="message" color='secondary'>
      <ion-card-content>
        {{message}}
      </ion-card-content>
    </ion-card>

    <ion-list>

      <ion-item>
        <ion-label>Type of Location</ion-label>
        <ion-select name="locationType"[(ngModel)]="feature.locationType">
          <ion-option value="church">Church</ion-option>
          <ion-option value="theater">Theater</ion-option>
          <ion-option value="farm">Farm</ion-option>
          <ion-option value="beach">Beach</ion-option>
          <ion-option value="other">Other</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Number of People</ion-label>
        <ion-select name="numPeople"[(ngModel)]="feature.numPeople">
          <ion-option value="1-10">1-10</ion-option>
          <ion-option value="11-25">11-25</ion-option>
          <ion-option value="25-49">25-49</ion-option>
          <ion-option value="50up">50+</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Addtional Details</ion-label>
        <ion-textarea name="addtionalDetails" [(ngModel)]="feature.addtionalDetails"></ion-textarea>
      </ion-item>

    </ion-list>

    <ion-row>
      <button ion-button full type="submit" [disabled]="!featureForm.form.valid">Save</button>
    </ion-row>
    <ion-row>
      <button ion-button full type="button" *ngIf="feature.featureId" color="danger" (click)="confirmDelete()">Delete</button>
    </ion-row>

  </form>

</ion-content>
