<header-bar title="Venue Details"></header-bar>

<ion-content padding>

  <form (ngSubmit)="saveFeature()" #featureForm="ngForm">
    <ion-card *ngIf="message" color='secondary'>
      <ion-card-content>
        {{message}}
      </ion-card-content>
    </ion-card>

    <ion-list>

      <ion-item>
        <ion-label>Type of Location</ion-label>
        <ion-select name="locationType"[(ngModel)]="feature.type_of_location">
          <ion-option value="0">Church</ion-option>
          <ion-option value="1">Theater</ion-option>
          <ion-option value="2">Farm</ion-option>
          <ion-option value="3">Beach</ion-option>
          <ion-option value="4">Other</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Number of People</ion-label>
        <ion-select name="numPeople"[(ngModel)]="feature.num_of_people">
          <ion-option value="0">1-10</ion-option>
          <ion-option value="1">11-25</ion-option>
          <ion-option value="2">25-49</ion-option>
          <ion-option value="3">50+</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Addtional Details</ion-label>
        <ion-textarea [attr.rows] = "10" name="addtionalDetails" [(ngModel)]="feature.additional_requests"></ion-textarea>
      </ion-item>

    </ion-list>

    <ion-row>
      <button ion-button full type="submit" [disabled]="!featureForm.form.valid">Save</button>
    </ion-row>
    <ion-row>
      <button ion-button full type="button" *ngIf="feature.featureId" color="danger" (click)="confirmDelete()">Delete</button>
    </ion-row>

  </form>

</ion-content>
