feature-card {
  ion-card {
    height: 13vh;
    position: relative;

    ion-icon {
      font-size: 60px;
      text-align: center;
      display: block;
    }

    span {
      text-align: center;
      display: block;
    }

    .triangle {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-right: 40px solid #32db64;
      border-bottom: 40px solid transparent;
    }

    .triangle-icon {
      color: white;
      position: absolute;
      top: 0;
      right: 5px;
      font-size: 20px;
    }
  }
}