<header-bar title="Food Details"></header-bar>

<ion-content padding>

  <form (ngSubmit)="saveFeature()" #featureForm="ngForm">
    <ion-card *ngIf="message" color='secondary'>
      <ion-card-content>
        {{message}}
      </ion-card-content>
    </ion-card>

    <ion-list>

      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select name="gender"[(ngModel)]="feature.gender">
          <ion-option value="f">Female</ion-option>
          <ion-option value="m">Male</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Clothing Color</ion-label>
        <ion-textarea name="clothingColor" [(ngModel)]="feature.clothingColor"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label floating>Addtional Details</ion-label>
        <ion-textarea name="addtionalDetails" [(ngModel)]="feature.addtionalDetails"></ion-textarea>
      </ion-item>

    </ion-list>

    <ion-row>
      <button ion-button full type="submit" [disabled]="!featureForm.form.valid">Save</button>
    </ion-row>
    <ion-row>
      <button ion-button full type="button" *ngIf="feature.featureId" color="danger" (click)="confirmDelete()">Delete</button>
    </ion-row>

  </form>

</ion-content>
