.clearDefault {
  margin: 0;
  padding: 0;
}

.recipient {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.message {
  color: #929292;
  margin-left: 20px;
  font-size: 15px;
}

.timeStamp {
  color: #aaaaaa;
  font-size: 12px;
}