<header-bar *ngIf="addMode" title="User Info"></header-bar>

<ion-header *ngIf="!addMode">
  <ion-navbar color="darkbar">
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Your Account</ion-title>
    <ion-buttons end>
      <button ion-button (click)="signout()" color='danger'>
        Sign Out
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3 *ngIf="addMode">Please finish setting up your account</h3>

  <div padding text-center>
    <div *ngIf="avatarPhoto" class="avatar" [style.background-image]="'url('+ avatarPhoto +')'">
    </div>

    <button ion-button clear (click)="selectAvatar()">Change photo</button>

    <input #avatar class="avatar-input" type="file" (change)="uploadFromFile($event)" />
  </div>

  <form (ngSubmit)="saveUser()" #userForm="ngForm">
    <ion-card *ngIf="message" color='secondary'>
      <ion-card-content>
        {{message}}
      </ion-card-content>
    </ion-card>

    <ion-list>

      <ion-list *ngIf="addMode" radio-group [(ngModel)]="user.user_type" name="userType">
        <ion-item>
          <ion-label>I am a Customer</ion-label>
          <ion-radio value="1" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>I am a Vendor</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input name="firstName" [(ngModel)]="user.first_name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input name="lastName" [(ngModel)]="user.last_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input name="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Phone Number</ion-label>
        <ion-input name="phoneNumber" [(ngModel)]="user.cellphone_number"></ion-input>
      </ion-item>

      <div [hidden]="user.user_type != 2" class="vendor-section">
        <ion-item>
          <ion-label floating>Business Name</ion-label>
          <ion-input name="bname" [(ngModel)]="vendor.name" [required]="user.user_type == 2"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Business Address</ion-label>
          <ion-input name="address" [(ngModel)]="vendor.address" [required]="user.user_type == 2"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Business Description</ion-label>
          <ion-textarea rows=4 name="description" [(ngModel)]="vendor.description" [required]="user.user_type == 2"></ion-textarea>
        </ion-item>
      </div>

    </ion-list>
    <button ion-button full type="submit" [disabled]="!userForm.form.valid">Save User Info</button>
  </form>

</ion-content>
