.myEventContainer {
  text-align: center;
  font-size: medium;
  border-bottom: solid 1px #ccc;
}

#myEventText {
  margin: 7px;
  padding-bottom: 0px;
  font-size: large;
  //border-bottom: 1px solid #777;
}