<header-bar title="Music Details"></header-bar>

<ion-content padding>

  <form (ngSubmit)="saveFeature()" #featureForm="ngForm">
    <ion-card *ngIf="message" color='secondary'>
      <ion-card-content>
        {{message}}
      </ion-card-content>
    </ion-card>

    <ion-list inset>

      <ion-item>
        <ion-label floating>Location</ion-label>
        <ion-input name="location" [(ngModel)]="feature.location"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Food Category</ion-label>
        <ion-textarea name="foodCategory" [(ngModel)]="feature.foodCategory"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label floating>Addtional Details</ion-label>
        <ion-textarea name="addtionalDetails" [(ngModel)]="feature.addtionalDetails"></ion-textarea>
      </ion-item>

    </ion-list>

    <ion-row>
      <button ion-button full type="submit" [disabled]="!featureForm.form.valid">Save</button>
    </ion-row>
    <ion-row>
      <button ion-button full type="button" *ngIf="feature.featureId" color="danger" (click)="confirmDelete()">Delete</button>
    </ion-row>

  </form>

</ion-content>
