<!--
  Home-Page for Event Planner
-->
<header-bar title="Event Planner Home"></header-bar>

<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="tabs">
      <ion-segment-button value="myEvents">
        My Events
      </ion-segment-button>

      <ion-segment-button value="allEvents">
        All Events
      </ion-segment-button>

      <ion-segment-button value="vendors">
        Vendors
      </ion-segment-button>
    </ion-segment>

  </div>

  <div [ngSwitch]="tabs">
    <ion-list *ngSwitchCase="'myEvents'">
      <button ion-item *ngFor="let ev of myEvents | async" (click)="gotoEvent(ev)">
        <span>{{ev.event_name}}</span>
        <ion-note item-end>{{ev.event_date_start | date: 'M/d/yy'}}</ion-note>
      </button>
    </ion-list>

    <div *ngSwitchCase="'allEvents'">
      <ion-list>
        <button ion-item *ngFor="let ev of allEvents | async" (click)="gotoEvent(ev)">
          <span [ngClass]="getEventClass(ev.event_planner_id)">{{ev.event_name}}</span>
          <ion-note item-end>{{ev.event_date_start | date: 'M/d/yy'}}</ion-note>
        </button>
      </ion-list>
      <ion-row>
        <ion-col>
          * <span class="unassigned">Red </span>events are unassigned
        </ion-col>
      </ion-row>
    </div>
    <ion-list *ngSwitchCase="'allEvents'">

    </ion-list>
    
    <div *ngSwitchCase="'vendors'">
      <ion-list>
        <button ion-item *ngFor="let v of vendors | async" (click)="gotoVendor(v)">
          <ion-icon *ngIf="v.approved == 0" name="alert" color="danger" item-start></ion-icon>
          <span>{{v.name}}</span>
        </button>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-icon name="alert" color="danger"></ion-icon>
          Awaiting approval
        </ion-col>
      </ion-row>
    </div>

  </div>

</ion-content>
