<header-bar title="{{featureString}} Details"></header-bar>

<ion-content padding>

    <ion-card *ngIf="message" color='secondary'>
      <ion-card-content>
        {{message}}
      </ion-card-content>
    </ion-card>

    <ion-list>

      <ion-item>
        <div>{{field1}}</div>
        <div>{{field1Descript}}</div>

        <div>{{field2}}</div>
        <div>{{field2Descript}}</div>
      </ion-item>

    </ion-list>


  <ion-row>
    <button ion-button full-type="button" *ngIf="user_type == 1" (click)="showRecommended(feature.feature_id)">Show Recommended Vendor</button>
  </ion-row>

    <ion-row>
      <button ion-button full type="button" *ngIf="user_type === 1" color="danger" (click)="confirmDelete()">Delete</button>
    </ion-row>

</ion-content>
