<header-bar title="{{featureString}} Details"></header-bar>

<ion-content padding>

  <form (ngSubmit)="saveFeature()" #featureForm="ngForm">
    <ion-card *ngIf="message" color='secondary'>
      <ion-card-content>
        {{message}}
      </ion-card-content>
    </ion-card>

    <ion-list>

      <!--<ion-item>-->
        <!--<ion-label >{{field1}}</ion-label>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label >{{field1Descript}}</ion-label>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
        <!--<ion-label >{{field2}}</ion-label>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label >{{field2Descript}}</ion-label>-->
      <!--</ion-item>-->

      <ion-item>
        <div>{{field1}}</div>
        <div>{{field1Descript}}</div>

        <div>{{field2}}</div>
        <div>{{field2Descript}}</div>
      </ion-item>

    </ion-list>

    <ion-row>
      <button ion-button full type="button" *ngIf="feature.featureId" color="danger" (click)="confirmDelete()">Delete</button>
    </ion-row>

  </form>

</ion-content>
