<header-bar title="{{featureString}} Details"></header-bar>

<ion-content padding>

    <ion-card *ngIf="message" color='secondary'>
      <ion-card-content>
        {{message}}
      </ion-card-content>
    </ion-card>

    <ion-list>

      <ion-item>
        <div class="fieldTitle">{{field1}}</div>
        <div class="fieldDesc">{{field1Descript}}</div>

        <div class="fieldTitle">{{field2}}</div>
        <div class="fieldDesc">{{field2Descript}}</div>

        <div class="fieldTitle">Additional Requests</div>
        <div class="fieldDesc">{{additionalRequests}}</div>
      </ion-item>

    </ion-list>

  <ion-list *ngIf="user_type == 0">
    <ion-list-header class="myEventContainer">
      <div id="myEventText" class="zero">Bidding Vendors</div>
    </ion-list-header>
    <ul class="zero">
      <button class="zero eventName" ion-item *ngFor="let v of biddingVendors | async" (click)="seeVendor(v)">
        <div>{{v.name}}</div>
      </button>
    </ul>
  </ion-list>

  <ion-row *ngIf="user_type == 2">
    <button ion-button full type="button" (click)="goToBidPage()">Add Bid</button>
  </ion-row>


  <ion-row *ngIf="user_type == 1 && showButton && !feature.status">
    <button ion-button full type="button" (click)="showRecommended(feature.feature_id)">Show Recommended Vendor</button>
  </ion-row>

    <ion-row *ngIf="user_type !== 2 && !showButton">
      <button ion-button full type="button" color="danger" (click)="confirmDelete()">Delete</button>
    </ion-row>

</ion-content>
